doctype html
html 
  head
    title anflix
    link(rel='stylesheet' href='css/styles.css')
    link(rel='shortcut icon' type='image/png' href='img/favicon.png')
  body
    h1=movie
    p This is a batman movie 
